/*contacto*/

form {
  margin: 50px auto;
  border-radius: 5px;
  color:$color3;
  background-color: $color5;
  max-width: 400px;
  width: 80%;
  font-size: 12px;
  padding {
    padding: 40px;
    top: 50px;
    inset-inline-end: 50px;
  }
  h2 {
  text-align: center;
}
}

