$color1: #436280;
$color2: #001b48;
$color3: grey;
$color4: aliceblue;
$color5: #dde8f0;

$estilosTexto: (
  text-align: center,
  font-size: 16px,
  font-weight: 800,
  color: $color3,
  padding-top:20px,
  
)
